html {
  height: 100%;
  width: 100%;
}

.flexContainer {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position:sticky;
}

.square {
  height: 100px;
  width:100px;
  background-color: blue;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-grow:1;
  user-select: none;
}

.square:hover {
  background-color: #475aff;
}