.unselectable {
  user-select: none;
}

#textToTypeContainer {
  font-family: 'Courier-New', Courier, monospace;
  border: black 2px solid;
  border-radius: 5px;
  outline: #60b0e6 solid 10px;
  opacity: 0.8;
  background-color: lightblue;
  padding: 10px;
  font-size: 18px;
  width: 50%;
}



